[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/conveneml/supervised/blob/main/myintro.ipynb)

## Stuff to do before starting

Sign up to github at github.com
Sign up to kaggle at kaggle.com

In [6]:
!pip install --upgrade pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 4.1 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [1]:
# Load libraries
import pandas as pd
from matplotlib import pyplot

#Load CSV files with Pandas from local file [disabled - use when running notebook on local machine]
#from pandas import read_csv
#filename = '~/Downloads/diabetes.csv'
#dataset = read_csv(filename)


#Load file from URL
from pandas import read_csv
url = 'https://raw.githubusercontent.com/conveneml/supervised/main/diabetes.csv'
names = ['age', 'class']
dataset = read_csv(url, names=names)


#Load file using pandas_datareader from the Yahoo Finance and FRED websites
import pandas_datareader.data as web
stk_tickers = ['MSFT', 'IBM', 'GOOGL']
ccy_tickers = ['DEXJPUS', 'DEXUSUK']
idx_tickers = ['SP500', 'DJIA', 'VIXCLS']
stk_data = web.DataReader(stk_tickers, 'yahoo')
ccy_data = web.DataReader(ccy_tickers, 'fred')
idx_data = web.DataReader(idx_tickers, 'fred')

In [2]:
stk_data

Attributes   Adj Close              ...      Volume
Symbols           MSFT         IBM  ...         IBM      GOOGL
Date                                ...
2017-01-19   57.925175  126.790802  ...   7283716.0  1070500.0
2017-01-20   58.334282  129.633530  ...  13273740.0  1306200.0
2017-01-23   58.538830  129.998413  ...   5730197.0  2457400.0
2017-01-24   59.059505  133.700027  ...   7272210.0  1688400.0
2017-01-25   59.208271  135.516647  ...   6194935.0  1655400.0
...                ...         ...  ...         ...        ...
2022-01-11  314.980011  132.869995  ...  11105300.0  1436500.0
2022-01-12  318.269989  133.589996  ...   5352000.0  1305400.0
2022-01-13  304.799988  134.759995  ...   4868300.0  1571800.0
2022-01-14  310.200012  134.210007  ...   5309200.0  1482100.0
2022-01-18  302.459991  132.899994  ...   3323636.0  1267455.0

[1259 rows x 18 columns]